<%= link_to '<< Back to Admins', {:action => 'index'}, :class => 'back' %>
<h2>New admin</h2>
<%= form_for(:admin, :url => {:action => 'create'}) do |f| %>
  <%= render(:partial => 'form', :locals => {:f => f}) %>
<% end %>