<%= link_to '<< Back to Episodes', {:action => 'index', :season_id => @season.id}, :class => 'back' %>
<h1>Editing "<%= @episode.name %>"</h1>
<%= form_for(:episode, :url => {:action => 'update', :id => @episode.id, :season_id => @season.id}) do |f| %>
  <%= render(:partial => 'form', :locals => {:f => f}) %>
<% end %>
