/*
 * CSS for the forms.
 *
 */

form {
  margin: 0 auto;
  padding: 0 auto;
}

div#form, textarea {
  max-width: 95%;
}

div#form {
  width: 40%;
}

.delete {
  width: 100%;
  text-align: center;
}

#delete-confirm{
  font-weight: bold;
  margin-bottom: 5px;
}

.delete p 
{
  font-size: 14px;
}

div.alert.alert-danger.alert-dismissible {
  max-width: 50%;
}

form.delete {
  width: 30%
}

.error-alert {
  text-align: center;
}

h3.error-alert {

  font-weight: bold;
}