/*
 * CSS for the list tables.
 *
 */

div.panel.panel-default {
  margin-top: 15px;
  width: 900px;
}

div.panel-heading {
  text-align: center;
  border-top: 1px solid black;
}

form.button_to {
  display: inline;
}

form.button_to div{
  display: inline;
}

form#new.button_to {
  float: left;
}

table.table tbody tr td {
  position: relative;
}

tr.alive {
  background: #B2F0B2;
}

tr.dead {
  background: #F0B2B2;
}