<%= @page_title = "Home" %>
<div class="row clearfix">
  <div class="col-md-4 column">
    <div class="list-group">
      <p class="list-group-item active">Updates</p>
      <p class="list-group-item"><strong>4/4/44: </strong> Lorem ipsum dolor sit amet, consectetur adipiscing elit. Cras felis velit, vestibulum vel ipsum id, feugiat malesuada sem.</p>
      <p class="list-group-item"><strong>5/5/55: </strong> Suspendisse fermentum pretium lectus, eu suscipit libero condimentum in. Donec tempor ante ut diam hendrerit sollicitudin. Vivamus molestie placerat posuere.</p>
      <p class="list-group-item"><strong>6/6/66: </strong> Donec gravida iaculis massa, et aliquet urna fringilla id. Nulla molestie eleifend metus nec rutrum. Aenean tristique sollicitudin libero condimentum volutpat.</p>
    </div>
    <div class="list-group">
      <a href="#" class="btn btn-block btn-social btn-facebook"> <i class="fa fa-facebook"></i> Facebook</a>
      <a href="#" class="btn btn-block btn-social btn-twitter"> <i class="fa fa-twitter"></i> Twitter</a>
      <a href="#" class="btn btn-block btn-social btn-google-plus"> <i class="fa fa-google-plus"></i> Google+</a>
    </div>
  </div>
  <div class="col-md-8 column">
    <h1 style="text-align:left;">Welcome!</h1>
    <strong><p>Test admin login info is admin@example.com : password.</p></strong>
    <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Cras felis velit, vestibulum vel ipsum id, feugiat malesuada sem. Praesent leo elit, aliquet nec lacinia in, lacinia vel arcu. Suspendisse fermentum pretium lectus, eu suscipit libero condimentum in. Donec tempor ante ut diam hendrerit sollicitudin. Vivamus molestie placerat posuere. Sed sed mattis nisi. Sed id ornare quam. Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nullam porttitor ultrices velit nec feugiat.

    Nullam volutpat fermentum orci, sed fringilla massa commodo et. Fusce nec quam eu elit facilisis tincidunt. Vestibulum vel sem vitae metus blandit vehicula vitae sed turpis. Aenean tincidunt ac sapien ac consectetur. Pellentesque quis mi sed nisi euismod porta tincidunt in eros. Vivamus eget varius mauris, eu dictum leo. Donec quis arcu eu risus vulputate blandit.

    Aenean rhoncus sit amet dui quis malesuada. Donec gravida iaculis massa, et aliquet urna fringilla id. Nulla molestie eleifend metus nec rutrum. Aenean tristique sollicitudin libero condimentum volutpat. Donec pellentesque lacinia mi id lobortis. Sed ullamcorper augue nisi, nec accumsan libero placerat id. Etiam elementum faucibus mauris non congue. Pellentesque molestie rhoncus vulputate. Quisque porttitor sagittis mi et consectetur. Nunc sed lectus tristique, rhoncus lectus sit amet, facilisis leo. Phasellus quam ipsum, ullamcorper sed lacinia nec, tincidunt in turpis. Sed dictum imperdiet eros, ut commodo justo rhoncus vitae.</p>
  </div>
</div>